[Desktop Entry]
Name=XPat2
Type=Application
Comment=X Patience (several types of solitaire)
Comment[de]=X-Patience - diverse Solitaire-Kartenspiele
Comment[es]=X Patience - varios juegos de cartas
Comment[fr]=X Patience - divers jeux de solitaires
Comment[pl]=X Pasjans - kilka rodzj√≥w pasjans√≥w
Comment[pt]=X Patience - v·rios jogos de cartas
Comment[pt_BR]=X Patience - v·rios jogos de cartas
Comment[tr]=X Patience - fal oyunu
Icon=xpat2.png
Exec=xpat2
Type=Application
# vi: encoding=utf-8
